:root {
  --bg-color: rgb(17, 17, 17);
  --sec-bg: rgb(53, 53, 53);
  --accent-color: rgb(30, 150, 165);
  --sec-accent-color: rgb(255, 203, 0);
  --text-bg: rgb(0, 47, 82);
  --text-color: rgb(247, 242, 236);
  --cl-color: rgb(250, 245, 237);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
